@font-face {
  font-family: cocogoose;
  src: url(fonts/Cocogoose-font.otf);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.first-section {
  background: url(./images/kidslistening.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.first-section-container {
  width: 92.5%;
  padding-top: 7rem;
  margin-inline: auto;
  min-height: 326.85px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: #bbb8b88a;
  height: inherit;
  width: 100%;
}

.open-heading {
  font-family: "cocogoose", sans-serif;
  font-size: 2.8rem;
  color: #ec5242;
  margin: 0;
  text-align: center;
}

.first-section-para {
  padding: 3%;
  background-color: #f7f7f8;
  text-align: center;
  border: 3px solid white;
  margin-top: 5%;
  width: 80%;
  font-size: 1.1rem;
}

p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.event-details {
  text-align: center;
  width: 75%;
  font-size: 1.5rem;
}

.overlay-image {
  background-color: #ec534293;
  height: 40vh;
  margin-top: -0.1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-image-year {
  font-family: 'cocogoose', sans-serif;
  font-size: 30px !important;
}

.overlay-image-text {
  font-size: 20px !important;
}

.past-event-images {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10%;
}

.image-contatiner-1 {
  background-image: url('./images/kidseating.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  margin-bottom: 10px;
}

.image-contatiner-2 {
  background-image: url('./images/kidspulling.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  margin-top: 10px;
}

.flex-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-content h2 {
  text-align: center;
}

hr {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 3px;
  background: #ec5242;
}

.flex-content p {
  text-align: center;
}

.horizontal-line {
  width: 100%;
  margin-inline: auto;
  border: none;
  height: 2px;
  background: #d3d3d3;
  margin-top: 10%;
}

.flex-past h2 {
  text-align: center;
}

.flex-past p {
  text-align: center;
}

.flex-past img {
  width: 80%;
  height: auto;
  display: block;
  margin-inline: auto;
  margin-block: 10%;
  cursor: pointer;
}

footer {
  min-height: 5rem;
  background-color: black;
}

.footer-flex {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.footer-logo a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.copy-right {
  margin: 0;
  color: #fff;
  line-height: 1rem;
  font-size: 0.8rem;
}

/* DESKTOP VERSION */
@media only screen and (min-width: 768px) {
  .first-section {
    min-height: 700px;
    background: url(./images/kidslistening.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .first-section-container {
    width: 92.5%;
    margin-inline: auto;
    min-height: 326.85px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .home-link {
    display: none !important;
  }

  .overlay {
    background-color: #bbb8b88a;
    height: inherit;
    width: 100%;
  }

  .open-heading {
    width: 80%;
    font-size: 1.8rem;
    font-family: "cocogoose", sans-serif;
    color: #ec5242;
    margin: 0;
    text-align: center;
  }

  .first-section-para {
    width: 80%;
    margin-top: 2%;
    padding: 1.8%;
    margin-bottom: 2%;
    background-color: #f7f7f8;
    text-align: center;
    border: 3px solid white;
    font-size: 1.1rem;
  }

  p {
    line-height: 1.3rem;
    font-size: 1.1rem;
  }

  .email-address {
    font-weight: bolder;
  }

  .event-details {
    text-align: center;
    width: 75%;
    font-size: 0.93rem;
  }

  .flex-content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
  }

  .flex-content h2 {
    text-align: center;
  }

  hr {
    width: 5%;
    margin-inline: auto;
    border: none;
    height: 3px;
    background: #ec5242;
  }

  .flex-content p {
    text-align: center;
  }

  .desktop-para {
    display: block;
    width: 80%;
    margin-inline: auto;
    margin-block: 3%;
    line-height: 28px;
  }

  .past-event-images {
    display: flex;
    flex-direction: row;
    margin: 10% 0;
  }

  .image-contatiner-1 {
    margin-right: 10px;
    margin-top: 0;
  }

  .image-contatiner-2 {
    margin-left: 10px;
    margin-top: 0;
  }

  .overlay-image-year {
    font-family: 'cocogoose', sans-serif;
    font-size: 30px !important;
  }

  .overlay-image-text {
    font-size: 20px !important;
  }

  .logo-container {
    width: 30%;
    background-color: rgb(211, 211, 211, 0.1);
    margin: auto;
    border: 1px solid #d3d3d3;
  }

  .logo-container img {
    margin: auto;
    display: block;
    transform: scale(1.3);
  }

  .horizontal-line {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    margin-inline: auto;
    border: none;
    height: 2px;
    background: #d3d3d3;
  }

  .flex-past {
    width: 80%;
    margin-inline: auto;
  }

  .flex-past h2 {
    font-size: 2.4rem;
    text-align: center;
  }

  .flex-past p {
    font-size: 1.3rem;
    text-align: center;
  }

  .flex-past img {
    display: inline;
    width: 45%;
    margin-inline: 2.4%;
    margin-block: 5%;
    height: auto;
    cursor: pointer;
  }

  footer {
    background-color: rgb(0, 0, 0, 0.8);
    min-height: 5rem;
  }

  .footer-flex {
    justify-content: space-evenly;
    height: 150px;
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
  }
}
